@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* header section */
header{
    background-color: rgba(255, 144, 14, 0.1);   
   max-width: 1920px;
    height: auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: bold;
    font-size: 3rem;
}
.nav-links{
    display:flex ;
    
}
.nav-items{
    list-style:  none;
    margin-left: 50px ;
}
.nav-link{
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
    font-weight: 600;
    font-size: 18px;
}
.navbar,.banner{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.banner{
justify-items:center;
}
.bnr-content{
    max-width: 862px;
     margin-right: auto;
     margin-left: auto;
     text-align: center;
}
.bnr-h{
    font-size: 4rem;
    font-weight: bold;
    padding-top: 30px;
}
.bnr-p{
font-size: 1rem;
font-weight: 400;
color: rgba(114, 114, 114, 1);
}
.bnr-btn{
    width: 180px;
    height: 64px;
    background-color: rgba(255, 144, 14, 1);
    color:rgba(255, 255, 255, 1) ;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    margin-top: 32px;
    margin-bottom: 50px ;
}
.bnr-img{
    width: 100%;
    height: auto;

}
/* Main section */
main>section{
    margin-top: 130px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.team-sec{
    align-items: center;
    display: flex;
    
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    
}
.team-desc{
    margin-left: 130px;
    max-width: 537px;
}
.s1{
    color: rgba(114, 114, 114, 1);
    font-weight: 600;
    font-size: 2.8rem
    ;
}
.s2{
    color: rgba(19, 19, 19, 1);
    font-size: 2.8rem;
    font-weight: bold;
}
.s3{
    color: rgba(255, 144, 14, 1);
    font-size: 2.8rem ;
    font-weight: bold
    ;
}
/* features */
#h1{
    font-size: 45px;
    font-weight: bold;
    border-left: 5px solid rgba(255, 144, 14, 1) ;
    padding-left: 20px;
}
.ftr-p{
    font-size: 1rem;
font-weight: 400;
color: rgba(114, 114, 114, 1);

}
.feature-cards{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: 8px;

}

 .feature-cards .card-title{
    font-weight: 600;
    font-size: 1.25rem;

}
.features{
display: flex;
gap: 145px;
}
#exp-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: 100px;
    width: 342px;
    height: 200px;
    background-color: rgba(255, 144, 14, 1);
    color: aliceblue;
    border: none;
    border-radius: 3px;
}
.exp-year{
    font-size: 4rem;
    font-weight: 700
    ;
}
/* facts */
.facts-desc{
    font-size: 1rem;
font-weight: 400;
color: rgba(114, 114, 114, 1);
max-width:  540px;
}
.facts-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 124px;
}
.facts{
    border: 1px solid rgba(255, 144, 14, 1);
    width: 241px;
    height: 241px;
    border-radius: 8px;
    justify-items: center;
  
}
.fact-number{
    color: rgba(66, 66, 66, 1);
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    color: rgba(114, 114, 114, 1);
    font-size: 1.4rem;
    font-weight:600;
    margin-top: 10px;
}
    .fact-icon{
        margin-top: 46px;
    }
    /* sponsor */
    .sponsors-dtl{
        max-width: 542px;
        margin: 50px auto;
        text-align: center;
    }
    .sponsor-brands{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        filter: grayscale(100%);
    }
/* responsive media */
@media screen and (max-width :576px){
.navbar ,.nav-links, .team-sec, .facts-list, .sponsor-brands{
    flex-direction: column;
}
.team-img{
    grid-template-columns: repeat(1 , 1fr);
}
.team-desc{
    margin-left: 30px;
}
.facts-list{
    grid-template-columns: repeat(1 , 1fr);
    justify-items: center;
    
}
.sponsor-brands{
    grid-template-columns:repeat(1,1fr) ;
    justify-items: center;
    gap: 50px
    ;
}
}
@media screen and ( min-width:576px) and (max-width:992px){
    .team-sec{
        flex-direction: column;
    }
    .team-desc{
        margin: 50px  auto;
    }
    
}


